<% layout('layouts/templete') %>
<h1>キャンプ場一覧</h1>
<div>
    <a href="/campgrounds/new">新規登録</a>
</div>
<ul>
    <% for (let campground of campgrounds) { %>
        <li><a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a></li>
    <% } %>
</ul>